### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### STS ###
.springBeans
.sts4-cache

### Gradle ###
HELP.md
.gradle
build/
!gradle/wwrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
