server:
  port: 8090

spring:
  application:
    name: product-service

  data:
    mongodb:
      uri: mongodb://localhost:27017/ecomhub
      uuid-representation: standard

logging:
  level:
    root: INFO
    ecomhub.productservice: DEBUG