server:
  port: 8081
spring:
  application:
    name: user-service
  data:
    mongodb:
      uri: mongodb://${MONGO_HOST:localhost}:${MONGO_PORT:27017}/${MONGO_DB:user-service}
      uuid-representation: standard
logging:
  level:
    root: INFO
