<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon - Sign in or create account</title>
    <link rel="stylesheet" th:href="@{../auth.css}">
</head>
<body>
<div th:replace="~{layout :: header}"></div>

<main class="auth-main">
    <div class="auth-container">
        <h1 class="auth-title">Sign in or create account</h1>
        <form th:action="@{/auth}" method="post">
            <div class="form-group">
                <label for="identity" class="form-label">Enter username or mobile number or email</label>
                <input type="text" id="identity" name="identity" class="form-input" required>
            </div>

            <button type="submit" class="btn btn-primary">Continue</button>

            <div class="agreement-text">
                By continuing, you agree to Amazon's <a href="#" class="link">Conditions of Use</a> and <a href="#"
                                                                                                           class="link">Privacy
                Notice</a>.
            </div>
            <a href="#" class="link-help">Need help?</a>
            <div class="auth-section">
                <div class="section-title">Buying for work?</div>
                <a href="#" class="link link-small">Create a free business account</a>
            </div>
        </form>
    </div>
</main>
<div th:replace="~{layout :: footer}"></div>

</body>
</html>