<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vn">
<head>
    <title>Đăng nhập</title>
</head>
<body>
<h2>Đăng nhập</h2>
<form th:action="@{/login}" method="post">
    <label>Tên đăng nhập:</label>
    <label>
        <input type="text" name="username"/>
    </label><br/>

    <label>Mật khẩu:</label>
    <label>
        <input type="password" name="password"/>
    </label><br/>

    <button type="submit">Đăng nhập</button>
</form>
<p th:if="${param.error}" class="text-danger">Tài khoản hoặc mật khẩu không đúng.</p>
</body>
</html>
