<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon - New Account</title>
    <link rel="stylesheet" th:href="@{../auth.css}">

</head>
<body>
<div th:replace="~{layout :: header}"></div>

<main class="auth-main">
    <div class="auth-container">
        <h1 class="auth-title">Sign up</h1>

        <div class="user-info">
            <span class="user-email" th:text="${identity}">email_here</span>
            <a th:href="@{/auth}" class="link">Change</a>
        </div>

        <div class="auth-subtitle">Let's create an account using your email</div>

        <form th:action="@{/auth/register}" method="get">
            <input type="hidden" name="identity" th:value="${identity}">
            <button type="submit" class="btn btn-primary">Proceed to create an account</button>

            <div class="auth-section">
                <div class="section-title">Already a customer?</div>
                <a th:href="@{/auth}" class="link">Sign in with another email or mobile</a>
            </div>
        </form>
    </div>
</main>
<div th:replace="~{layout :: footer}"></div>

</body>
</html>