#server:
#  port: 9099
#  address: 0.0.0.0
#
#logging:
#  level:
#    org.springframework: INFO
#
#spring:
#  datasource:
#    url: jdbc:mysql://localhost:3307/cart_service
#    username: root
#    password: root
#    driver-class-name: com.mysql.cj.jdbc.Driver
#    hikari:
#      maximum-pool-size: 10
#      minimum-idle: 5
#      idle-timeout: 30000
#      pool-name: MyHikariCP
#      leak-detection-threshold: 2000
#
#  kafka:
#    bootstrap-servers: localhost:9092
##    bootstrap-servers: kafka:9092
#    consumer:
#      group-id: resource-consumer-group
#      auto-offset-reset: earliest
#      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
#      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
#    producer:
#      key-serializer: org.apache.kafka.common.serialization.StringSerializer
#      value-serializer: org.apache.kafka.common.serialization.StringSerializer
#
#  flyway:
#    enabled: true
#    baseline-on-migrate: true
#    locations: classpath:db/migration
#
#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true
#    properties:
#      hibernate:
#        format_sql: true
#
#  security:
#    oauth2:
#      resourceserver:
#        jwt:
##          issuer-uri: http://host.docker.internal:8081
##          jwk-set-uri: http://host.docker.internal:8081/oauth2/jwks
#            issuer-uri: http://localhost:8081
#            jwk-set-uri: http://localhost:8081/oauth2/jwks
#
#services:
#  product:
##    url: http://host.docker.internal:8082/api/product
#     url: http://localhost:8082/api/product

server:
  port: 9099
  address: 0.0.0.0

logging:
  level:
    org.springframework: INFO

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3307/cart_service}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
      pool-name: MyHikariCP
      leak-detection-threshold: 2000

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9094}
    consumer:
      group-id: resource-consumer-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${AUTH_SERVICE_ISSUER_URI}
          jwk-set-uri: ${AUTH_SERVICE_JWK_SET_URI}

services:
  product:
    url: ${PRODUCT_SERVICE_URL}